:root {
  /* --sketchAreaSize: 576px; */
  --sketchAreaSize: 576px;
  --gridSize: 16;
}

body {
  width: 100%;
  background-color: rgb(86, 86, 86);
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 1rem 2rem;
}

.appHeader {
  align-items: center;
  justify-content: center;
  color: aliceblue;
  background-color: black;
  width: var(--sketchAreaSize);
  height: 4rem;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sketchArea {

  background-color: rgb(232, 232, 232);
  display: flex;
  width: var(--sketchAreaSize);
  height: var(--sketchAreaSize);
  flex-wrap: wrap;
  gap: 0px;
  justify-content: space-evenly;
  align-content: space-evenly;
  margin-bottom: 2rem;
}

.sketchPixel {
  --width: calc(var(--sketchAreaSize) / var(--gridSize));
  --height: calc(var(--sketchAreaSize) / var(--gridSize));
  background-color: rgb(232, 232, 232);
  width: calc(var(--width));
  height: calc(var(--width));

  /* width: calc(var(--width) - 1px);
  height: calc(var(--width) - 1px);
    border: 0.5px solid rgb(49, 49, 49); */
}

.buttonContainer {
  width: var(--sketchAreaSize);
  display: flex;
  justify-content: space-between;
}
